<main class="w-full flex flex-col items-center px-5 py-10 bg-dark min-h-screen">
  <!-- Header Section -->
  <article class="w-full max-w-[960px]">
    <header class="mb-8">
      <h1
        class="font-bold text-[32px] md:text-[40px] leading-tight text-white mb-4"
      >
        Código de Conducta de Backbone UTP 🦒
      </h1>
    </header>

    <!-- Introducción Section -->
    <section class="mb-10">
      <h2
        class="font-bold text-[24px] md:text-[28px] leading-[32px] text-white mb-4"
      >
        Introducción 📝
      </h2>
      <p class="text-[16px] leading-[24px] text-gray-300">
        Nuestro objetivo es proporcionar una experiencia libre de acoso para
        todos, independientemente de su sexo, identidad y expresión de género,
        orientación sexual, discapacidad, apariencia física, tamaño corporal,
        raza, lugar de origen, religión (o falta de ella), o elección de
        tecnología. No toleramos el acoso de los participantes en ninguna forma.
        Los participantes que violen estas reglas pueden ser sancionados o
        expulsados del evento a discreción de los organizadores.
      </p>
    </section>

    <!-- Comportamiento Esperado Section -->
    <section class="mb-10">
      <h2
        class="font-bold text-[24px] md:text-[28px] leading-[32px] text-white mb-4"
      >
        Comportamiento Esperado 🌟
      </h2>
      <ul class="space-y-4">
        <li class="text-[16px] leading-[24px] text-gray-300">
          <strong class="text-white">Sé Respetuoso:</strong> Respeta a todas las
          personas, organizaciones involucradas en el evento, y otros terceros.
          Al hacerlo, contribuyes a la salud y longevidad de esta comunidad.
        </li>
        <li class="text-[16px] leading-[24px] text-gray-300">
          <strong class="text-white">Comunicación Constructiva:</strong>
          Ejercita la comunicación abierta y acogedora. Sé considerado con las
          diferentes perspectivas y experiencias. Participa de manera auténtica
          y activa.
        </li>
        <li class="text-[16px] leading-[24px] text-gray-300">
          <strong class="text-white">Colaboración:</strong> Fomenta un entorno
          de colaboración y trabajo en equipo. Comparte tus conocimientos y
          ayuda a los demás.
        </li>
        <li class="text-[16px] leading-[24px] text-gray-300">
          <strong class="text-white">Respeta los Espacios:</strong> Respeta los
          diferentes espacios de colaboración y las necesidades de los demás.
          Mantén el espacio libre de actitudes hostiles, lenguaje ofensivo o
          conductas que generen incomodidad.
        </li>
        <li class="text-[16px] leading-[24px] text-gray-300">
          <strong class="text-white">Accesibilidad:</strong> Facilitar que todos
          puedan participar en igualdad de condiciones, considerando necesidades
          de accesibilidad.
        </li>
      </ul>
    </section>

    <!-- Comportamiento Inaceptable Section -->
    <section class="mb-10">
      <h2
        class="font-bold text-[24px] md:text-[28px] leading-[32px] text-white mb-4"
      >
        Comportamiento Inaceptable 🚫
      </h2>
      <ul class="space-y-4">
        <li class="text-[16px] leading-[24px] text-gray-300">
          <strong class="text-white">Acoso:</strong> Cualquier forma de acoso no
          será tolerada, incluyendo comentarios ofensivos relacionados con el
          sexo, identidad y expresión de género, orientación sexual,
          discapacidad, apariencia física, tamaño corporal, raza, lugar de
          origen religión, o elección de tecnología.
        </li>
        <li class="text-[16px] leading-[24px] text-gray-300">
          <strong class="text-white">Violencia y Amenazas:</strong> No se
          tolerará la incitación a la violencia, ni el uso de lenguaje violento
          o amenazas de ningún tipo.
        </li>
        <li class="text-[16px] leading-[24px] text-gray-300">
          <strong class="text-white">Discriminación:</strong> Evita cualquier
          comportamiento discriminatorio. Todos son bienvenidos y deben sentirse
          seguros y valorados.
        </li>
        <li class="text-[16px] leading-[24px] text-gray-300">
          <strong class="text-white"
            >Expresiones y Comunicación Responsable:</strong
          >
          Evita el uso de expresiones despectivas, así como la difusión de
          información falsa, engañosa, no verificada o acusatoria que pueda
          afectar el interés público de una organización, grupo o individuo. La
          comunicación debe mantenerse siempre en un marco constructivo y
          profesional.
        </li>
        <li class="text-[16px] leading-[24px] text-gray-300">
          <strong class="text-white">Interrupciones:</strong> No interrumpas ni
          monopolices las conversaciones. Permite que todos tengan la
          oportunidad de participar y ser escuchados.
        </li>
      </ul>
    </section>

    <!-- Resolución de Conflictos Section -->
    <section class="mb-10">
      <h2
        class="font-bold text-[24px] md:text-[28px] leading-[32px] text-white mb-4"
      >
        Resolución de Conflictos 🔧
      </h2>
      <ul class="space-y-4">
        <li class="text-[16px] leading-[24px] text-gray-300">
          <strong class="text-white">Habla Directamente:</strong> Si alguien te
          hace sentir incómodo, intenta hablar con esa persona directamente, si
          te sientes seguro haciéndolo.
        </li>
        <li class="text-[16px] leading-[24px] text-gray-300">
          <strong class="text-white">Contacta a los Organizadores:</strong> Si
          prefieres no hablar directamente con la persona o si la situación no
          mejora, contacta a uno de los organizadores. Ellos están aquí para
          ayudar y tomarán las medidas apropiadas.
        </li>
      </ul>
    </section>

    <!-- Consecuencias Section -->
    <section class="mb-10">
      <h2
        class="font-bold text-[24px] md:text-[28px] leading-[32px] text-white mb-4"
      >
        Consecuencias de Comportamiento Inaceptable ⚖️
      </h2>
      <ul class="space-y-4">
        <li class="text-[16px] leading-[24px] text-gray-300">
          <strong class="text-white">Advertencia:</strong> Una advertencia
          verbal sobre el comportamiento inapropiado.
        </li>
        <li class="text-[16px] leading-[24px] text-gray-300">
          <strong class="text-white">Expulsión Temporal:</strong> El
          participante puede ser expulsado temporalmente del evento.
        </li>
        <li class="text-[16px] leading-[24px] text-gray-300">
          <strong class="text-white">Expulsión Permanente:</strong> En casos
          graves o repetidos, el participante puede ser expulsado
          permanentemente del evento.
        </li>
      </ul>
    </section>

    <!-- Contacto Section -->
    <section class="mb-10">
      <h2
        class="font-bold text-[24px] md:text-[28px] leading-[32px] text-white mb-4"
      >
        Contacto 📞
      </h2>
      <p class="text-[16px] leading-[24px] text-gray-300 mb-4">
        Si necesitas reportar un incidente o necesitas asistencia, por favor
        contacta a los organizadores:
      </p>
      <ul class="space-y-2 ml-4">
        <li class="text-[16px] leading-[24px] text-gray-300">
          <strong class="text-white">Jhon Gaviria: </strong>
          <a
            href="mailto:j.gaviria@utp.edu.co"
            class="text-blue-400 hover:text-blue-300 underline"
            >j.gaviria&#64;utp.edu.co</a
          >
        </li>
        <li class="text-[16px] leading-[24px] text-gray-300">
          <strong class="text-white">Paula Andrea: </strong>
          <a
            href="mailto:paula.castro@utp.edu.co"
            class="text-blue-400 hover:text-blue-300 underline"
            >paula.castro&#64;utp.edu.co</a
          >
        </li>
        <li class="text-[16px] leading-[24px] text-gray-300">
          <strong class="text-white">Sergio Estrella: </strong>
          <a
            href="mailto:sergio.estrella@utp.edu.co"
            class="text-blue-400 hover:text-blue-300 underline"
            >sergio.estrella&#64;utp.edu.co</a
          >
        </li>
      </ul>
    </section>

    <!-- Agradecimientos Section -->
    <section class="mb-10">
      <h2
        class="font-bold text-[24px] md:text-[28px] leading-[32px] text-white mb-4"
      >
        Agradecimientos 🙏
      </h2>
      <p class="text-[16px] leading-[24px] text-gray-300">
        Agradecemos a todos por ayudar a crear un evento acogedor y seguro para
        todos. Juntos, podemos construir una comunidad inclusiva y colaborativa.
      </p>
    </section>

    <!-- Closing Message -->
    <section class="border-t border-gray-700 pt-8 text-center">
      <p class="text-[18px] leading-[26px] text-white font-semibold">
        ¡Gracias por tu cooperación! 🎉🚀
      </p>
    </section>
  </article>

  <!-- Footer -->
  <div class="w-full max-w-[960px] mt-16">
    <app-footer></app-footer>
  </div>
</main>
