<div
  class="overflow-hidden relative text-center group items-center flex flex-col gap-2 max-w-sm hover:shadow-2xl transition-all duration-500 rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)] dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur border border-[#FF6A27] bg-[#1A0F07] p-6"
  >
  <div class="text-gray-500 group-hover:scale-105 transition-all">
    <img [src]="image" alt="Profile picture" class="rounded-full w-16 h-16 object-cover" />
  </div>
  <div class="group-hover:pb-10 transition-all duration-500 delay-200">
    <h1 class="font-semibold text-[#F9C71D]">{{ name }}</h1>
    <p class="text-[#93C5FD] text-sm">{{ role }}</p>
  </div>
  <div
    class="flex items-center transition-all duration-500 delay-200 group-hover:bottom-3 -bottom-full absolute gap-2 justify-evenly w-full"
  >
    <div
      class="flex gap-3 text-2xl bg-gray-700 text-white p-1 hover:p-2 transition-all duration-500 delay-200 rounded-full shadow-sm"
    >
      @for (item of links; track item) {
      <a
        [href]="item.url"
        target="_blank"
        class="hover:scale-110 transition-all duration-500 delay-200"
      >
        <app-icon
          [iconName]="item.name"
          [properties]="{ id: item.name, class: 'text-white' }"
        ></app-icon>
      </a>
      }
    </div>
  </div>
</div>
