<div class="relative ml-1 mr-1">
  <button
    id="theme-toggle-btn"
    class="appearance-none border-none flex hover:scale-125 transition"
    (click)="toggleThemesMenu($event)"
  >
    <span class="sr-only">Elige el tema</span>
    <app-icon
      *ngIf="currentTheme === 'light'"
      iconName="sun"
      [properties]="{
        id: 'light',
        class: 'theme-toggle-icon size-5 transition-all'
      }"
    ></app-icon>
    <app-icon
      *ngIf="currentTheme === 'dark'"
      iconName="moon"
      [properties]="{
        id: 'dark',
        class: 'theme-toggle-icon size-5 transition-all'
      }"
    ></app-icon>
    <app-icon
      *ngIf="currentTheme === 'system'"
      iconName="system"
      [properties]="{
        id: 'system',
        class: 'theme-toggle-icon size-5 transition-all'
      }"
    ></app-icon>
  </button>
  <div
    id="themes-menu"
    class="absolute hidden scale-80 top-8 right-0 text-sm p-1 min-w-[8rem] rounded-md border border-gray-100 bg-white/90 dark:bg-gray-900/90 dark:border-gray-500/20 shadow-[0_3px_10px_rgb(0,0,0,0.2)] backdrop-blur-md"
  >
    <ul>
      <li
        *ngFor="let theme of themes"
        class="themes-menu-option px-2 py-1.5 cursor-default hover:bg-neutral-400/40 dark:hover:bg-gray-500/50 dark:text-gray-200 rounded-sm"
        role="button"
        aria-disabled="true"
        (click)="selectTheme(theme.toLowerCase())"
        (keydown.enter)="selectTheme(theme.toLowerCase())"
      >
        {{ theme }}
      </li>
    </ul>
  </div>
</div>
