<section class="pt-10 pb-10 hero px-1">
  <div class="md:text-start my-10 flex flex-col items-center justify-center gap-10 md:gap-5 md:my-5 lg:flex-row lg:gap-20 lg:my-20 2xl:gap-40">
    <h1 class="font-extrabold text-[40px] md:text-5xl lg:text-4xl xl:text-6xl leading-none md:text-left m-0 p-0">
      <span class="block text-white mb-[-7px] md:mb-0 font-orbitron text-[30px] md:text-[47px] lg:text-[34px] xl:text-[57px]">
        CELEBRA CON
      </span>

      <app-icon
        iconName="backbone-logo"
        [properties]="{
          id: 'backbone-logo',
          class: 'inline h-[32.8px] w-auto md:h-[51px] lg:h-[37px] xl:h-[62px]'
        }">
      </app-icon>

      <span
        class="block text-[#ff6a27] font-montserrat tracking-tighter font-superblack text-[32px] md:text-[49px] lg:text-[36px] xl:text-[60px]">
        EL EVENTO MÁS
      </span>

      <span
        class="block text-[#ff6a27] font-montserrat tracking-widest font-superblack text-[32px] md:text-[49px] lg:text-[36px] xl:text-[60px]">
        IMPORTANTE
      </span>

      <span
        class="text-[26px] md:text-[39px] lg:text-4xl xl:text-6xl block text-[#facc15] font-sans italic font-bold tracking-[-1px] leading-[1.2]">
        DEL SOFTWARE LIBRE <br>Y EL CÓDIGO ABIERTO
      </span>
    </h1>

    <div class="flex flex-col items-center justify-center">
      <app-countdown
        targetDate="2025-10-10T08:00:00-05:00"
        class="mt-6 font-sans text-center">
      </app-countdown>
      <h6
        class="flex gap-2 items-center justify-center my-2 flex-wrap text-center text-gray-700 dark:text-gray-300">
        8:00 AM (GTM-5)
        <hr />
        10 / Oct / 2025
        <hr />
        Universidad Tecnológica de Pereira
        <hr />
        Colombia
      </h6>
      <div class="flex gap-2 mt-4">
        <app-button
          variant="primary"
          text="REGÍSTRATE AHORA"
          target="_blank"
          href="https://docs.google.com/forms/d/e/1FAIpQLSe92lRhyIYrI3aTDkKqiOzpdwgVHgSJJErx3TyDPRp-DDxOFA/viewform?usp=sharing&ouid=104870229166451253715">
        </app-button>
      </div>
    </div>
  </div>
</section>
