<section class="pt-10 pb-10 hero px-1">
  <div
    class="text-start my-10 flex flex-col items-center justify-around gap-10 md:gap-5 md:my-5 lg:flex-row lg:gap-0 lg:my-20">
    <h1
      class="text-balance font-extrabold text-3xl md:text-5xl lg:text-4xl xl:text-6xl">
      <span class="text-white font-orbitron">CELEBRA CON</span> <br>
      <app-icon
        iconName="backbone-logo"  
        [properties]="{
          id: 'backbone-logo',
          class:
            'inline my-2 h-[30px] w-auto md:h-[50px] lg:h-[36px] xl:h-[60px] '
        }">
      </app-icon>
      <br>
      <span class="text-[#ff6a27] font-montserrat tracking-tighter">EL EVENTO MÁS</span> <br>
      <span class="text-[#ff6a27] font-montserrat tracking-widest">IMPORTANTE</span> <br>
      <span class="text-[#facc15] font-sans italic font-bold leading-[20px] tracking-tight">DEL SOFTWARE  LIBRE <br> Y EL CÓDIGO ABIERTO</span>
    </h1>

    <div class="flex flex-col items-center justify-center">
      <app-countdown
        targetDate="2025-10-10T08:00:00-05:00"
        class="mt-6 font-sans text-center">
      </app-countdown>
      <h6
        class="flex gap-2 items-center justify-center my-2 flex-wrap text-center text-gray-700 dark:text-gray-300">
        8:00 AM (GTM-5)
        <hr />
        10 / Oct / 2025
        <hr />
        Universidad Tecnológica de Pereira
        <hr />
        Colombia
      </h6>
      <div class="flex gap-2 mt-4">
        <app-button
          variant="primary"
          text="REGÍSTRATE AHORA"
          target="_blank"
          href="https://docs.google.com/forms/d/e/1FAIpQLSe92lRhyIYrI3aTDkKqiOzpdwgVHgSJJErx3TyDPRp-DDxOFA/viewform?usp=sharing&ouid=104870229166451253715">
        </app-button>
      </div>
    </div>
  </div>
</section>


<!-- <hr />
<app-icon
  iconName="github-logo"
  [properties]="{
    id: 'github-logo',
    class:
      'md:w-32 w-24 transition-all duration-300 ease-in-out text-gray-700 dark:text-gray-200'
  }">
</app-icon> -->