.hero-content h1{
    font-family: 'Montserrat', sans-serif;
}
.hero-content p{
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 4rem 2rem 2rem 3rem ;
  }

  .hero-content h1{
    text-align: justify;
    max-width: 100%;
  }
  .hero-content p{
    text-align: justify;
    max-width: 100%;
  }
  .cta-button{
  font-weight: 600;
  font-size: 1rem;
  border-radius: 300px;
  padding: 0.5rem 1.5rem 0.5rem;
   margin: 0 auto;
  display: block;
  }
  .hero-image-container img {
    margin-top: 1rem;
    max-width: 300px;
  }
}
