<section class="banner-container">
    <div class="banner-content">
        <h2 class="banner-title">
            <span class="text-yellow">Sé parte de nuestro</span><br>
            <span class="text-orange"> Semillero y</span>
            <span class="text-white"> Comunidad</span>
        </h2>
        <div class="banner-details">
            <img src="../../../../../../assets/images/logo-backbone.png" alt="Backbone Logo" class="logo" />
            <button class="join-button">Únete a la comunidad</button>
        </div>
    </div>
</section>