<section class="py-20 md:py-25 hero">
  <div
    class="text-center my-10 md:my-16 max-w-5xl mx-auto flex flex-col items-center justify-center"
  >
    <h1
      class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter my-4 font-heading dark:text-gray-200"
    >
      Celebremos el
      <span>software libre</span> y el
      <span class="text-accent highlight"> código abierto</span>
    </h1>
    <h6
      class="flex gap-2 items-center justify-center my-2 flex-wrap text-center text-gray-700 dark:text-gray-300"
    >
      8:00 AM
      <hr />
      10 / Oct / 2024
      <hr />
      Universidad Tecnológica de Pereira
      <hr />
      Colombia
    </h6>
    <div class="flex gap-2 mt-4">
      <app-button
        variant="primary"
        text="Registro gratis"
        href="https://github.com/onwidget/astrowind"
        target="_blank"
      ></app-button>
      <app-button
        variant="secondary"
        text="Postular charla"
        href="https://github.com/onwidget/astrowind"
        target="_blank"
      ></app-button>
    </div>
  </div>
</section>
