<section class="pt-10 pb-10 md:pb-25 md:pt-5 hero px-1">
  <div
    class="text-center my-10 md:my-16 max-w-5xl mx-auto flex flex-col items-center justify-center"
  >
    <div class="flex items-center justify-center gap-4 my-8">
      <!-- Load GitHub & Backbone svg logos-->

      <app-icon
        iconName="backbone-logo"
        [properties]="{
          id: 'backbone-logo',
          class:
            'md:w-60 w-40 transition-all duration-300 ease-in-out text-gray-700 dark:text-gray-200'
        }"
      >
      </app-icon>
      <hr />
      <app-icon
        iconName="github-logo"
        [properties]="{
          id: 'github-logo',
          class:
            'md:w-32 w-24 transition-all duration-300 ease-in-out text-gray-700 dark:text-gray-200'
        }"
      >
      </app-icon>
    </div>
    <h1
      class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200"
    >
      Celebremos el
      <span
        class="[text-shadow:_rgb(1,_1,_1)_1px_0_10px] dark:[text-shadow:_unset]"
      >
        software libre
      </span>
      y el
      <span
        class="[text-shadow:_rgb(1,_1,_1)_1px_0_10px] dark:[text-shadow:_unset] text-accent highlight"
      >
        código abierto
      </span>
    </h1>
    <h6
      class="flex gap-2 items-center justify-center my-2 flex-wrap text-center text-gray-700 dark:text-gray-300"
    >
      8:00 AM (GTM-5)
      <hr />
      10 / Oct / 2024
      <hr />
      Universidad Tecnológica de Pereira
      <hr />
      Colombia
    </h6>
    <div class="flex gap-2 mt-4">
      <app-button
        variant="primary"
        text="Registro"
        href="https://forms.gle/wC7LWDni1UqF8bxV7"
        target="_blank"
      >
      </app-button>
      <app-button
        variant="secondary"
        text="SFD en el mundo"
        target="_blank"
        href="https://digitalfreedoms.org/en/sfd/events"
      >
      </app-button>
    </div>
  </div>
</section>
