:root {
  color-scheme: light dark;
}

html {
  font-family: "Onest Variable", system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  color: rgba(17, 17, 17, 0.9);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overscroll-behavior: none;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
