

<div
    class="bg-[#0F172A] py-8 px-7 text-white relative overflow-x-hidden ">

    <div class="flex justify-between md:items-center items-start">
        <h1
            class="font-bold text-2xl md:text-3xl text-white">
            {{data.talk}}
        </h1>
        <mat-dialog-actions>
            <button mat-button mat-dialog-close
                class="m-0 p-0 md:m-3 z-20 outline-none">
                <mat-icon class="text-primary md:scale-150" aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="cancel"></mat-icon>
            </button>
        </mat-dialog-actions>
    </div>

    @if (!data.aditional) {
    <div class="relative z-20 md:grid md:grid-cols-2 md:gap-2 mt-4 text-pretty">

        <div class="col-span-1">
            <h2
                class="font-semibold text-lg md:text-xl mb-3 z-20">{{data.name}}</h2>
            <h3 class="z-20">{{data.description}}</h3>
        </div>
        <div
            class="size-auto z-20 m-12 mt-6 md:mt-0  aspect-square bg-primary">
            <img class="z-20" src="{{data.img}}" alt>
        </div>

    </div>

    } @else {
    <div class="relative z-20 md:grid md:grid-cols-2 md:gap-2 mt-4 text-pretty">

        <div class="col-span-1">
            <h2
                class="font-semibold text-lg md:text-xl mb-3 z-20">{{data.aditional[1].name}}</h2>
            <h3 class="z-20">{{data.aditional[1].description}}</h3>

        </div>
        <div
            class="size-auto z-20 m-6 mt-6 pt-6 md:mt-0  aspect-square bg-primary">
            <img class="z-20" src="{{data.aditional[1].img}}" alt>
        </div>
        <div
            class="size-auto z-20 m-6 mt-6 pt-6 md:mt-0  aspect-square bg-primary">
            <img class="z-20" src="{{data.aditional[0].img}}" alt>
        </div>
        <div class="col-span-1">
            <h2
                class="font-semibold text-lg md:text-xl mb-3 z-20">{{data.aditional[0].name}}</h2>
            <h3 class="z-20">{{data.aditional[0].description}}</h3>

        </div>

    </div>
    }

    <div
        class="absolute top-0 -right-[30%] w-[40%] aspect-square m-0">

        <div
            class="w-[20%] aspect-square rounded-full border-4 border-[#cab9b6] absolute opacity-10"
            style="
              transform: translate(-50%, -50%);
              ">
        </div>

        <div
            class="w-[50%] aspect-square rounded-full border-4 border-[#cab9b6] absolute opacity-10"
            style="
              transform: translate(-50%, -50%);
              ">
        </div>

        <div
            class="w-[80%] aspect-square rounded-full border-4 border-[#cab9b6] absolute opacity-10"
            style="
              transform: translate(-50%, -50%);
              ">
        </div>

        <div
            class="w-[110%] aspect-square rounded-full border-4 border-[#cab9b6] absolute opacity-10"
            style="
              transform: translate(-50%, -50%);
              ">
        </div>

        <div
            class="w-[140%] aspect-square rounded-full border-4 border-[#cab9b6] absolute opacity-10"
            style="
              transform: translate(-50%, -50%);
              ">
        </div>

        <div
            class="w-[170%] aspect-square rounded-full border-4 border-[#cab9b6] absolute opacity-10"
            style="
              transform: translate(-50%, -50%);
              ">
        </div>

        <div
            class="w-[200%] aspect-square rounded-full border-4 border-[#cab9b6] absolute opacity-10"
            style="
              transform: translate(-50%, -50%);
              ">
        </div>

        <div
            class="w-[230%] aspect-square rounded-full border-4 border-[#cab9b6] absolute opacity-10"
            style="
              transform: translate(-50%, -50%);
              ">
        </div>

        <div
            class="w-[260%] aspect-square rounded-full border-4 border-[#cab9b6] absolute opacity-10"
            style="
              transform: translate(-50%, -50%);
              ">
        </div>

        <div
            class="w-[290%] aspect-square rounded-full border-4 border-[#cab9b6] absolute opacity-10"
            style="
              transform: translate(-50%, -50%);
              ">
        </div>

    </div>
</div>