<div class="bg-[#180e0e] w-11/12 p-6 rounded-lg shadow-md shadow-[#FF6A27] flex items-center flex-col gap-4 lg:flex-row lg:gap-6 lg:w-2/3 transition-all transform duration-100 hover:shadow-lg hover:shadow-[#FF6A27] hover:-translate-y-1" [ngClass]="{'lg:flex-row-reverse lg:justify-between': index % 2 !== 0}">

  <h3 class="text-primary font-sans text-3xl font-extrabold text-center block lg:hidden lg:text-left lg:text-2xl xl:text-3xl">{{ name }}</h3>

  <img class="h-56 min-w-56 max-w-56 rounded-full lg:h-40 lg:min-w-40 lg:max-w-40 xl:h-48 xl:min-w-48 xl:max-w-48 object-cover object-top border-4 border-[#FF6A27] shadow-lg shadow-black bg-primary " 
    [src]="image" alt="Speaker picture"
  />

    <div class="flex flex-col items-center lg:items-start   ">
        <h3 class="text-primary font-sans text-xl font-extrabold text-center hidden lg:block lg:text-left lg:text-2xl xl:text-3xl">{{ name }}</h3>
        <p class="text-[#93C5FD] font-mono font-bold text-sm text-center mb-2 md:text-xl lg:text-left lg:text-base xl:text-lg">{{ role }}</p>
        <p class="speaker-description font-sans text-justify md:w-3/4 lg:text-left lg:w-full text-sm lg:text-base xl:text-lg"><i>"{{ description }}"</i></p>
    </div>
</div>