<div class="bg-[#180e0e] w-full sm:w-11/12 p-6 rounded-lg shadow-md shadow-[#FF6A27] flex items-center flex-col gap-4 lg:flex-row lg:gap-6 lg:w-2/3" [ngClass]="{'lg:flex-row-reverse lg:justify-between': index % 2 !== 0}"
    [routerLink]="'/events/software-freedom-day-2025/'"
    [fragment]="((index === 2 || index === 3) ? 'SNEIA' : name) + '-timeline'">

  <h3 class="text-primary font-sans text-xl font-extrabold md:text-3xl text-center block lg:hidden lg:text-left lg:text-2xl xl:text-3xl">{{ name }}</h3>

    <img 
      class="w-32 h-32 sm:w-56 sm:h-56 lg:w-40 lg:h-40 xl:w-48 xl:h-48
            rounded-full object-cover object-top aspect-square border-4 border-[#FF6A27] bg-primary"
      [src]="image"
      alt="Speaker picture"
    />


    <div class="flex flex-col items-center lg:items-start   ">
      <h3 class="text-primary font-sans text-xl font-extrabold text-center hidden lg:block lg:text-left lg:text-2xl xl:text-3xl">
        {{ name }}
      </h3>
        <div class="flex items-center justify-center gap-1 mb-2 flex-col-reverse lg:flex-row">
          <p class="text-[#93C5FD] font-mono font-bold text-sm text-center md:text-xl lg:text-left lg:text-base xl:text-lg">{{ role }}</p>
          <div class="flex text-2xl justify-center items-center">
            @for (item of links; track item) {
            <a
              [href]="item.url"
              target="_blank"
              class="hover:scale-110 transition-all duration-75"
            >
              <app-icon
                [iconName]="item.name"
                [properties]="{ id: item.url, class: 'text-white/40 h-5 hover:text-white/80' }"
              ></app-icon>
            </a>
            }
          </div>
          
        </div>
        <p class="speaker-description font-sans text-center md:w-3/4 lg:text-left lg:w-full text-sm md:text-lg lg:text-base xl:text-lg"><i>"{{ description }}"</i></p>
    </div>
</div>