<section class="w-full text-white py-4" >
    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-3 gap-2 px-4 mt-8"> 
        <div class="p-6 h-full shadow-lg bg-[#180e0e]">
            <h2 class="text-2xl font-bold mb-4 text-yellow-500">¿Qué es el Software Freedom Day 2025?</h2>
            <p class="text-gray-400">Es un evento donde se celebra el software libre y de código abierto. Apoyado por semilleros pertenecientes a la Facultad de Ingenierías, donde se dará a conocer el gran ecosistema de investigadores que la universidad está formando. Este año, las charlas y talleres se enfocarán en cuatro temáticas</p>
        </div>

        <div class="lg:col-span-2 grid grid-cols-1 sm:grid-cols-2 gap-2">

            <div class="p-6 shadow-lg bg-[#180e0e]">
                <h2 class="text-xl font-bold mb-3 text-blue-400">Desarrollo de Software</h2>
                <p class="text-gray-400">Inmersión profunda en las últimas tecnologías y metodologías de programación, desarrollo ágil y DevOps. Además, talleres prácticos aplicando conocimiento en proyectos reales.</p>
            </div>

            <div class="p-6 shadow-lg bg-[#180e0e]">
                <h2 class="text-xl font-bold mb-3 text-blue-400">Comunidad y Filosofía FOSS</h2>
                <p class="text-gray-400">Espacio para explorar el impacto del Software Libre y de Código Abierto en la tecnología moderna. Conoce líderes de proyectos FOSS, cómo contribuir a estos proyectos y discutir el futuro del software libre.</p>
            </div>

            <div class="p-6 shadow-lg bg-[#180e0e]">
                <h2 class="text-xl font-bold mb-3 text-blue-400">Investigación e Innovación</h2>
                <p class="text-gray-400">Avances más recientes en tecnología y ciencia. Investigadores de renombre compartirán sus descubrimientos y cómo estos pueden aplicarse para resolver problemas complejos.</p>
            </div>

            <div class="p-6 shadow-lg bg-[#180e0e]">
                <h2 class="text-xl font-bold mb-3 text-blue-400">Diseño y Expresión Libre</h2>
                <p class="text-gray-400">Creativos de todas las disciplinas descubrirán nuevas formas de expresión a través de herramientas de diseño de código abierto. Explorando cómo el diseño puede influir en la sociedad y la cultura.</p>
            </div>
        </div>
    </div>

    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-3 gap-2 mt-8 px-4 items-start mb-6">
        <div class="lg:col-span-1 flex flex-col items-center justify-center lg:items-start p-4"> 
            <p class="text-5xl sm:text-6xl font-extrabold text-center lg:text-left text-shadow-layered-opensans italic font-[Open Sans]" style="line-height: 0.9; font-family: 'Open Sans', sans-serif;">
                El Software<br>Freedom Day<br>es 10/10
            </p>
        </div>

        <div class="p-6 shadow-lg lg:col-span-1 bg-[#180e0e]">
            <h2 class="text-xl font-semibold mb-2 text-yellow-500">Fecha y Hora</h2>
            <p class="text-gray-400 text-lg">Octubre 10 de 2025 8:00 AM</p>
        </div>

        <div class="p-6 shadow-lg lg:col-span-1 bg-[#180e0e]">
            <h2 class="text-xl font-semibold mb-2 text-yellow-500">Lugar</h2>
            <div class="w-full h-48 rounded-sm overflow-hidden border-2 border-gray-600">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d496.98502043091594!2d-75.69036449665029!3d4.79060382758183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38870d2ec13c59%3A0x47103f78de06d0fb!2sUTP%3A%20Edificio%2013%3A%20Interdisciplinario!5e0!3m2!1ses!2sco!4v1759192729427!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>

