.nav-link {
  @apply relative block px-2 py-2 transition;
  &:hover {
    @apply text-yellow-500 dark:text-yellow-400;
  }
}

nav {
  animation: nav-shadown 1s linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;
}

@keyframes nav-shadown {
  to {
    @apply shadow-lg ring-1 backdrop-blur ring-white/10 bg-white/70 dark:bg-gray-800/90 dark:text-fuchsia-500;
  }
}
