<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-1 md:px-3 text-sm font-medium rounded-full justify-center text-gray-600 dark:text-gray-200 items-center shadow-lg ring-1 backdrop-blur ring-white/10 bg-white/70 dark:bg-gray-900/90 dark:border-gray-500/20"
  >
    <img
      src="assets/images/SFDlogo-banner.webp"
      alt="SFD 2024"
      class="h-8 object-cover"
    />
    <hr
      class="border h-4 rounded-md md:mx-2 mx-0.5 border-gray-200 dark:border-gray-700"
    />
    <a
      *ngFor="let link of navItems"
      class="relative block md:px-2 px-1 py-2 transition hover:scale-125"
      [attr.aria-label]="link.label"
      [routerLink]="link.url"
      [fragment]="link.fragment"
    >
      {{ link.title }}
    </a>
    <hr
      class="border h-4 rounded-md md:mx-2 mx-0.5 border-gray-200 dark:border-gray-700"
    />
    <app-theme-toggle></app-theme-toggle>
  </nav>
</header>
