<section class="w-full flex gap-3">
  <app-projects
    [title]="'Proyecto Angular'"
    [description]="'Descripcion del proyecto.'"
    [imageUrl]="'assets/images/abstract_img.jpg'"
    [status]="'Publicado'"
    [link]="'https://github.com/Backbone-UTP/main-page'"
  >
  </app-projects>
  <app-projects
    [title]="'Proyecto Angular'"
    [description]="'Descripcion del proyecto.'"
    [imageUrl]="'assets/images/abstract_img.jpg'"
    [status]="'En Desarrollo'"
    [link]="'https://github.com/Backbone-UTP/main-page'"
  >
  </app-projects
  ><app-projects
    [title]="'Proyecto Angular'"
    [description]="'Descripcion del proyecto.'"
    [imageUrl]="'assets/images/abstract_img.jpg'"
    [status]="'Próximamente'"
    [link]="'https://github.com/Backbone-UTP/main-page'"
  >
  </app-projects>
</section>
