<main class="bg-sfd-2025">
  <app-sfd-header [navItems]="headerLinks"></app-sfd-header>
    <div class="border-2 border-[#F9C71D] w-auto h-auto rounded-md">
      <div class="border-2 border-[#F99D1D] w-auto h-auto rounded-md m-1 md:m-1.5">
        <div class="border-2 border-[#FF6A27] w-auto h-auto rounded-md m-1 md:m-1.5">
          <div class="border-2 border-[#6B3918] w-auto h-auto rounded-md m-1 md:m-1.5">
            <div class="border-0 md:border-2 border-[#441F19] w-auto h-auto rounded-md m-1 md:m-1.5">
              <app-sfd-hero></app-sfd-hero>
                <section id="about">
                  <app-features
                    [title]="aboutTitle"
                    [subtitle]="aboutSubTitle"
                    [features]="aboutFeatures"
                  ></app-features>
                </section>
                <section class="flex flex-col gap-2 py-20">
                  <h2 class="text-balance text-2xl font-bold text-neutral-800 dark:text-neutral-200 md:text-3xl w-full text-center">
                    Equipo
                  </h2>
                  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 py-5 mx-auto">
                    @for (person of staff; track person) {
                      <app-profile-card
                        [name]="person.name"
                        [role]="person.role"
                        [image]="person.image"
                        [links]="person.links"
                      ></app-profile-card>
                    }
                  </div>
                </section>

                <section class="flex flex-col gap-2 py-20" id="supporters">
                  <div class="flex items-center gap-4 px-4 lg:gap-8 lg:px-8  bg-[#231515] h-20">
                    <img src="assets/images/patch_small.png" alt="SFD 2025" class="h-8 lg:h-10">
                    <h2 class="text-lg md:text-xl lg:text-2xl text-balance font-bold text-neutral-200 w-full">
                      PATROCINADOR
                    </h2>
                  </div>
                  <div class="mt-12 flex justify-center items-center gap-3 w-full italic">
                    <h2 class="text-2xl md:text-3xl lg:text-4xl font-extrabold font-[Open Sans] text-center">
                      <span class="text-white mr-4">¡GRACIAS</span>
                      <app-icon
                        iconName="github-logo"
                        [properties]="{
                        id: 'github-logo',
                        class: 'inline-block w-28 lg:w-40 transition-all duration-300 ease-in-out text-white'}">
                      </app-icon>
                      <span class="text-white ml-4">POR CREER</span><br />
                      <span class="text-[#F9C71D] italic font-black">EN EL SOFTWARE FREEDOM</span><br />
                      <span class="text-[#FF6A27] italic font-black">DAY PEREIRA!</span>
                    </h2>
                  </div>
                </section>
                
                <section id="gallery">
                  <app-gallery
                    [title]="'Momentos destacados'"
                    [subtitle]="'Así se vivieron las versiones anteriores del Software Freedom Day en Pereira'"
                    [images]="galleryImages"
                  ></app-gallery>
                </section>
                <app-logos-list
                  [title]="'Invitan'"
                  subtitle="Estas organizaciones también hacen posible el evento"
                  [logos]="supporters">
                </app-logos-list>
                <app-footer [socialLinks]="footerLinks"></app-footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
