<section class="flex flex-col gap-2 py-20 md:py-40" id="supporters">
    <div class="flex justify-center items-center w-full italic">
        <h2 class="text-base xss:text-xl xs:text-2xl md:text-3xl lg:text-4xl font-extrabold font-[Open Sans] text-center">
            <span class="text-white flex items-center gap-2">¡GRACIAS
                <app-icon
                    iconName="github-logo"
                    [properties]="{
                    id: 'github-logo',
                    class: 'inline-block w-20 xss:w-24 xs:w-28 md:w-32 lg:w-40 transition-all duration-300 ease-in-out text-white mb-1'
                    }"
                >
                </app-icon>
                POR CREER</span>
                  <span class="text-[#F9C71D] italic font-black">EN EL SOFTWARE FREEDOM</span><br />
                  <span class="text-[#FF6A27] italic font-black">DAY PEREIRA!</span>
                </h2>
              </div>
</section>
