<app-sfd-header [navItems]="headerLinks"></app-sfd-header>
<main class="bg-sfd-2024">
  <app-sfd-hero></app-sfd-hero>

  <p class="text-center font-semibold">
    ¿No pudiste estar en el evento? Mira las charlas:
  </p>
  <section
    class="my-5 bg-primary py-8 text-center m-auto mr-auto px-4 flex justify-center gap-5"
  >
    <!--Añadir componente charlas-->
    <app-button
      variant="secondary"
      target="_blank"
      className="bg-white dark:bg-slate-900"
      [text]="'Jornada AM'"
      [href]="'https://www.youtube.com/watch?v=NJoeUs4pkZE'"
    ></app-button>

    <app-button
      variant="secondary"
      target="_blank"
      className="bg-white dark:bg-slate-900"
      [text]="'Jornada PM'"
      [href]="'https://www.youtube.com/watch?v=5_qyNXwqpE8'"
    ></app-button>
  </section>
  <section id="about">
    <app-features
      [title]="aboutTitle"
      [subtitle]="aboutSubTitle"
      [features]="aboutFeatures"
    ></app-features>
  </section>

  <section class="flex flex-col gap-2 py-20">
    <h2
      class="text-balance text-2xl font-bold text-neutral-800 dark:text-neutral-200 md:text-3xl w-full text-center"
    >
      Equipo organizador
    </h2>
    <div
      class="flex sm:flex-row flex-col sm:items-start items-stretch justify-center py-5 gap-5 mx-auto"
    >
      @for (person of staff; track person) {
      <app-profile-card
        [name]="person.name"
        [role]="person.role"
        [image]="person.image"
        [links]="person.links"
      ></app-profile-card>
      }
    </div>
  </section>
  <section class="flex flex-col gap-2 py-20" id="agenda">
    <h2
      class="text-balance text-2xl font-bold text-neutral-800 dark:text-neutral-200 md:text-3xl w-full text-center"
    >
      Agenda
    </h2>
    <p
      class="text-pretty text-neutral-700 dark:text-neutral-400 text-center text-sm"
    >
      La agenda pueden estar sujeta a cambios a medida que se confirman los
      detalles de las charlas.
    </p>
    <app-timeline [timelineItems]="sfdAgenda"></app-timeline>
  </section>
  <section class="flex flex-col gap-2 py-20" id="supporters">
    <app-logos-list
      [title]="'Invitan'"
      subtitle="Estas organizaciones también hacen posible el evento"
      [logos]="supporters"
    ></app-logos-list>
  </section>
</main>
<app-footer [socialLinks]="footerLinks"></app-footer>
