<div class="w-full py-10 lg:py-14">
  <!-- Title and description -->

  <div
    class="grid grid-cols-2 md:flex md:items-center md:justify-center gap-y-2 lg:gap-x-24 bg-primary dark:bg-primary py-4">
    @for (item of logos; track item) {
    <a
      class="mx-auto w-32 py-3 sm:mx-0 lg:w-40 lg:py-5 hover:scale-105 transition-all duration-500"
      [href]="item.url"
      target="_blank">
      <img
        class="drop-shadow-lg w-[700px] h-[80px] object-scale-down mx-auto"
        [src]="item.image"
        [alt]="item.alt" />
    </a>
    }
  </div>
</div>
