.nav-link {
  @apply relative block px-2 py-2 transition;
  &:hover {
    @apply text-yellow-500 dark:text-yellow-400;
  }
}

nav {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
