<footer
  class="w-full bg-neutral-300 dark:bg-neutral-900 py-6 mt-12 px-4 shadow-sm"
>
  <div class="flex items-center justify-between gap-y-0">
    <div
      class="flex flex-col items-start md:flex-row md:items-center justify-between"
    >
      <app-icon
        iconName="backbone"
        [properties]="{
          id: 'footer-logo',
          class:
            'size-5 text-primary-500 dark:text-primary-400 transition-all duration-300 ease-in-out'
        }"
      ></app-icon>
      <p class="text-sm px-5 text-neutral-600 dark:text-neutral-400">
        Diseñado y desarrollado por
        <a
          class="rounded-lg font-medium underline underline-offset-2 outline-none ring-zinc-500 transition duration-300 hover:text-neutral-700 hover:decoration-dashed focus:outline-none focus-visible:ring dark:ring-zinc-200 dark:hover:text-neutral-300"
          href="https://linkedin.com/in/djkde"
          target="_blank"
          rel="noopener noreferrer"
          >Djkde</a
        >.
      </p>
    </div>

    <!-- Social Brands -->
    <div class="flex items-center justify-between">
      <div *ngFor="let link of socialLinks">
        <app-footer-link [url]="link.url"
          ><app-icon [iconName]="link.name" />
        </app-footer-link>
      </div>
    </div>
  </div>
</footer>
