<div [class]="className" class="flex justify-center items-end space-x-4">
  @if(days + hours + minutes + seconds > 0){
  <div class="flex flex-col items-center time-unit">
    <span class="text-2xl font-bold time-unit-value">{{
      days | number : "2.0-0"
    }}</span>
    <span class="text-sm mb-1 time-unit-label">Días</span>
  </div>
  <div class="time-separator">:</div>
  <div class="flex flex-col items-center time-unit">
    <span class="text-2xl font-bold time-unit-value">{{
      hours | number : "2.0-0"
    }}</span>
    <span class="text-sm mb-1 time-unit-label">Horas</span>
  </div>
  <div class="time-separator">:</div>
  <div class="flex flex-col items-center time-unit">
    <span class="text-2xl font-bold time-unit-value">{{
      minutes | number : "2.0-0"
    }}</span>
    <span class="text-sm mb-1 time-unit-label">Minutos</span>
  </div>
  <!-- <div class="flex flex-col items-center time-unit">
    <span class="text-2xl font-bold time-unit-value">{{
      seconds | number : "2.0-0"
    }}</span>
    <span class="text-sm mb-1 time-unit-label">Segundos</span>
  </div> -->
  }@else {
  <div [class]="className" class="flex justify-center items-end space-x-4">
    <div class="flex flex-col items-center time-unit">
      <span class="text-sm mb-1 time-unit-label">Days</span>
      <span class="text-2xl font-bold time-unit-value">00</span>
    </div>
    <div class="flex flex-col items-center time-unit">
      <span class="text-sm mb-1 time-unit-label">Hours</span>
      <span class="text-2xl font-bold time-unit-value">00</span>
    </div>
    <div class="flex flex-col items-center time-unit">
      <span class="text-sm mb-1 time-unit-label">Minutes</span>
      <span class="text-2xl font-bold time-unit-value">00</span>
    </div>
    <div class="flex flex-col items-center time-unit">
      <span class="text-sm mb-1 time-unit-label">Seconds</span>
      <span class="text-2xl font-bold time-unit-value">00</span>
    </div>
  </div>
  }
</div>
