<div
  [class]="className"
  [class.countdown--compact]="compact"
  class="flex justify-center items-end space-x-4"
>
  <div class="flex flex-col items-center time-unit">
    <span class="font-bold time-unit-value">{{ days | number: '2.0-0' }}</span>
    <span class="time-unit-label">Días</span>
  </div>
  <div class="time-separator">:</div>
  <div class="flex flex-col items-center time-unit">
    <span class="font-bold time-unit-value">{{ hours | number: '2.0-0' }}</span>
    <span class="time-unit-label">Horas</span>
  </div>
  <div class="time-separator">:</div>
  <div class="flex flex-col items-center time-unit">
    <span class="font-bold time-unit-value">{{ minutes | number: '2.0-0' }}</span>
    <span class="time-unit-label">Minutos</span>
  </div>
  <div class="time-separator">:</div>
  <div class="flex flex-col items-center time-unit">
    <span class="font-bold time-unit-value">{{ seconds | number: '2.0-0' }}</span>
    <span class="time-unit-label">Segundos</span>
  </div>
</div>
